{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Amazure Registration</title>
    <meta lang="en-us">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible">
    <meta content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'account/images/online-sale.png' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="{% static 'account/css/register.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"><img src="https://i.imgur.com/CXQmsmF.png" class="logo"></div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"><img
                            src="https://previews.123rf.com/images/tadamichi/tadamichi1905/tadamichi190500008/124806940-enterprise-resource-planning-concept-businessman-analyzing-data-many-graphs-and-charts-on-laptop-dis.jpg"
                            class="image"></div>
                    <div style="text-align: center"><small class="font-weight-bold">Having an Account Already? <a
                            href="{% url 'Account:user_login' %}"
                            class="text-danger ">Login</a></small></div>
                </div>
                <div class="row px-3 mb-4">
                    <div class="line"></div>
                    <small class="or text-center">Or</small>
                    <div class="line"></div>
                </div>
                <div class="row mb-4 px-3" style="justify-content: center">
                    <h6 class="mb-0 mr-4 mt-2">Register with</h6>
                    <div class="facebook text-center mr-3">
                        <div class="fa fa-facebook"></div>
                    </div>
                    <div class="twitter text-center mr-3">
                        <div class="fa fa-twitter"></div>
                    </div>
                    <div class="linkedin text-center mr-3">
                        <div class="fa fa-linkedin"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <h4 class="text-center">Complete your registration below</h4>
                    <form enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {% for error in user_form.non_field_errors %}
                            <div class="form-group has-errors text-danger small">
                                {{ error }}
                            </div>
                        {% endfor %}
                        {% for field in user_form %}
                            <div class="form-group has-errors text-danger small">
                                {{ field.errors }}
                            </div>
                            <div class="form-group has-errors text-danger small">
                            </div>
                            <div class="form-group">
                                {{ field }}
                            </div>
                        {% endfor %}
                        {% for error in profile_form.non_field_errors %}
                            <div class="form-group has-errors text-danger small">
                                {{ error }}
                            </div>
                        {% endfor %}
                        {% for field in profile_form %}
                            <div class="form-group has-errors text-danger small">
                                {{ field.errors }}
                            </div>
                            <div class="form-group has-errors text-danger small">
                            </div>
                            <div class="form-group">
                                {{ field }}
                            </div>
                        {% endfor %}
                        <div class="row mb-3 px-3">
                            <button type="submit" class="btn btn-blue text-center" style="width: 100%">Create Account</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3"><small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2021. Powered by ICT University
                Students.</small>
                <div class="social-contact ml-4 ml-sm-auto"><a href="#"> <span
                        class="fa fa-facebook mr-4 text-sm"></span></a> <a href="#"> <span
                        class="fa fa-google-plus mr-4 text-sm"></span></a> <a href="#"><span
                        class="fa fa-linkedin mr-4 text-sm"></span></a>
                    <a href="#"><span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span></a></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>